numpy
cython
sphinx
sphinx-rtd-theme
sphinxext-remoteliteralinclude
sphinxcontrib-drawio
m2r2
breathe
beautifulsoup4
opencv-python
msgpack==1.0.0
matplotlib
pandas
pillow
jupyterlab
ipython
PyTurboJPEG
flask
scikit-learn
umap-learn
plotly
seaborn
